// clear yet

.btn {
  padding: 10px;
  border: solid 1px gray;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.btn-contained {
  background-color: aquamarine;
}

.btn-outlined {
  background-color: transparent;
  border: solid 1px aquamarine;
}

.btn-disabled {
    opacity: 60%;
    cursor: default;
}